*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
    background-repeat: no-repeat;
    width: 100%;
    height: 87.9vh;
}
.app{
    background-color: #fff;
    width: 90%;
    max-width: 700px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
}

.app h1{
    font-weight: 25px;
    color: #7e0034;
    font-weight: 600;
    border-bottom: 1px solid #727171;
    padding-bottom: 30px;
}

.quiz{
    padding: 20px 0;
}

.quiz h2{
    font-size: 18px;
    color: #040042;
    font-weight: 600;
}

.btn{
    background: #fff;
    color: #7e0034;
    font-weight: 500;
    width: 100%;
    border: 1px solid #c7c7c7;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.6s;
}
.btn:hover:not([disabled]){
    background-color: #c6c3f35d;
    color: #040042;
}

.btn:disabled{
    cursor: no-drop;
}

#next-btn{
    background: #040042;
    color: #fff;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
    display: none;
}
#next-btn:hover{
    background-color: #393660;
    color: #fff;
}

.correct{
    background: #d1ffe5;
    color: #006c1d;
}

.incorrect{
    background: #ffdbdb;
    color: #e20000;
}